@charset "UTF-8";

:root{
    --background-color: #F7F7F7;
    --title-color: #222222;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;font-family: "Montserrat", sans-serif;
}

.app{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}